USE [TDVK22CNT3Lesson10]
GO
/****** Object:  Table [dbo].[TDVAccount]    Script Date: 7/3/2024 9:09:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TDVAccount](
	[TDVId] [nvarchar](50) NOT NULL,
	[TDVUserName] [nvarchar](50) NULL,
	[TDVPassword] [nvarchar](50) NULL,
	[TDVFullName] [nvarchar](50) NULL,
	[TDVEmail] [nvarchar](50) NULL,
	[TDVActive] [bit] NULL,
 CONSTRAINT [PK_TDVAccount] PRIMARY KEY CLUSTERED 
(
	[TDVId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TDVAccount] ([TDVId], [TDVUserName], [TDVPassword], [TDVFullName], [TDVEmail], [TDVActive]) VALUES (N'2210900138', N'TranDuyVu', N'25112004', N'Tran Duy Vu', N'duyvutran2004@gmail.com', 1)
GO
