@model TDVLesson09.Models.TDVKhoa

@{
    ViewBag.Title = "TDVDetails";
}

<h2>Details</h2>

<div>
    <h4>TDVKhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TDVTenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TDVTenKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("TDVEdit", "TDVEdit", new { id = Model.TDVMaKH }) |
    @Html.ActionLink("Back to List", "TDVIndex")
</p>
