@{
    ViewBag.Title = "Tran Duy Vu";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.msv</h3>
<h3>@ViewBag.fullname</h3>

<address>
    K22CNT3<br />
    - AspNet Mvc 5 <br />
    <abbr title="Phone">P:</abbr>
    0912345678
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:duyvutran2004@gmail.com">duyvutran2004@gmail.com</a>
</address>